/* @font-face {
    font-family: 'Inter';
    src: url("/fonts/Inter-Variable.ttf");
} */
@font-face {
    font-family: 'Source Code Pro';
    src: url("/fonts/SourceCodePro-VariableFont_wght.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Source Code Pro';
}